body{
    background-color: #EAE9EE;
}

.txt-center{
    text-align: center;
}
.txt-decoration-none{
    text-decoration: none;
}

.slider-pager .slider-pager-page{
    color: #fff;
}
.bar .button.button-icon, .icon.ion-arrow-left-c{
    color: white;
}
.item.item-divider{
    font-weight: normal;
}
.bar-header, .bar-subheader {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none;
    border-bottom: none;
}
.bar{
    border-bottom: 1px solid #99CA3C;
    border-color: #99CA3C !important;
}
.bar-green{
    background-color: #99CA3C;

    .title{
        color: white;
        font-weight: 200;
        text-transform: uppercase;
    }
}
.bar-subheader.bar-green{
    border-bottom: 3px solid #0066B2 !important;
}

ion-view.pane:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 88px;
  background-color: #99CA3C;
}

.has-error {
  border-bottom: 3px solid red;

  span{ color: red; }
}

// =============================================
// MENU
// =============================================
.menu{
    box-shadow: inset 5px 0px 10px rgba(0, 0, 0, 0.2);
    background: #99ca3c; /* Old browsers */
    background: -moz-linear-gradient(left,  #99ca3c 0%, #5bba46 0%, #226b2c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#99ca3c), color-stop(0%,#5bba46), color-stop(100%,#226b2c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #99ca3c 0%,#5bba46 0%,#226b2c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #99ca3c 0%,#5bba46 0%,#226b2c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #99ca3c 0%,#5bba46 0%,#226b2c 100%); /* IE10+ */
    background: linear-gradient(to right,  #99ca3c 0%,#5bba46 0%,#226b2c 100%); /* W3C */
}
.bar-transparent{
    background: transparent !important;
    border-color: transparent !important;
}
ion-item {
    background: transparent !important;

    .item-content{
        text-transform: uppercase;
        background: transparent !important;

        p{
            color: white;
            display: inline-block;
            line-height: 28px;
            padding-left: 15px;
        }
    }
}
.logo-menu{
    opacity: .16;
    padding-top: 30px;
}

// =============================================
// HOME
// =============================================
.logo-home{
    height: 88px;
    background-color: #EAE9EE;
    border-bottom: 3px solid #0066B2;
}

.bg-content{
	background-color: #eee;
}
.slider {
    width: 100%;
    // height: 35%;
    height: calc(100% - 365px);
}
.slide-text{
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 200;
}
.slide-text.line1{
    padding: 15px 20px 0px;
}
.slide-text.line2{
    padding-left: 35px;
}
.fullscreen-image {
	max-width: 100%;
	max-height: 100%;
	bottom: 0;
	left: 0;
	margin: auto;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
}
.fix-bottom{
    width: 100%;
    bottom: 0;
    z-index: 15;
    position: absolute;
}
.btn-block-green{
    display: block;
    text-align: center;
    color: white;
    padding: 25px 0;

    p:first-child{ margin: 0; }
    p:last-child{ text-transform: uppercase; font-size: 12px;}
}

.btn1{ background-color: #5BB947; }
.btn2{ background-color: #98C93C; }
.btn3{ background-color: #4A9C3C; }
.btn4{ background-color: #226C2C; }


// =============================================
// LOTES
// =============================================
.nome-leilao{
    text-align: center;
    padding: 2px 10px 4px;
    margin: 39px -5px 0;
    background-color: #0066B2;
    border-bottom: 1px solid #005291;
    box-shadow: 0px 3px 5px rgba(0,0,0,.26);

    p{
        color: white;
        font-size: 200;
        margin: 0;
        text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

// =============================================
// CONTATO
// =============================================
.phone{
    background-color: #f8f8f8;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    color: #333;
}


// =============================================
// AGENDA
// =============================================
.item h2{
    overflow: visible;
    text-overflow: initial;
    white-space: normal;
}
.saibamais{
    background-color: #0066B2;
    border-color: #005291;

    a{
        color: #fff;
        font-size: 16px !important;
    }
}
/* árvore */
#arvore_origem {
    color: #666;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}
#arvore_origem ul{
    padding: 0;
}
.pais {
    display: table;
    width: 100%;
}
.pais > li {
    display: table-row;
    margin: 0 0 1px;
}
.pais > li > div {
    border: 1px solid #E9EBED;
    display: table-cell;
    vertical-align: middle;
    width: 25%;
    height: 20px;
    line-height: 20px;
}
.avos, .bisavos, .tataravos {
    display: table-cell;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
}
.avos > li, .bisavos > li {
    display: table;
    width: 100%;
}
.avos > li > div {
    border: 1px solid #E9EBED;
    display: table-cell;
    vertical-align: middle;
    width: 33.1%;
    height: 20px;
    line-height: 20px;
}
.bisavos > li > div{
    background-color: #FFFFFF;
    border: 1px solid #E9EBED;
    display: table-cell;
    width: 49.8%;
    vertical-align: middle;
    height: 20px;
    line-height: 20px;
}
