<ion-view>
	<ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<div class="bar bar-subheader bar-green">
		<h2 class="title">Agenda de <strong>Leilões</strong></h2>
	</div>
	<ion-content class="has-subheader padding bg-content">

		<div class="list card" ng-repeat="(key, agenda) in vm.agendas track by $index">
			<div class="item">
				<h2>{{agenda.name}}</h2>
			</div>

			<div class="item item-body">
				<a href="#/app/lotes/{{agenda.id}}" title="">
					<img class="full-image" ng-src="http://criarleiloes.com.br/media/k2/categories/{{agenda.image}}">
				</a>
				<p> Data: {{agenda.data}}</p>
				<p> Local: {{agenda.content.det_local}}</p>
				<p> Raça: {{agenda.content.det_raca}}</p>
				<p> Promoção: {{agenda.content.det_promocao}}</p>
				<p> Assessoria: {{agenda.content.det_asessoria}}</p>
				<p> Transmissão: {{agenda.content.det_transmissao}}</p>
			</div>

			<div class="item tabs tabs-secondary tabs-icon-left saibamais">
				<a class="tab-item" href="#/app/lotes/{{agenda.id}}"> Saiba mais </a>
			</div>
		</div>

	</ion-content>
</ion-view>