<ion-view>
	<ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<div class="bar bar-subheader bar-green">
		<h2 class="title">Cadastre-se na <strong>Criar</strong></h2>
	</div>
	<ion-content class="has-subheader">
		<form class="list" name="formcadastro" novalidate ng-submit="vm.sendCadastre()">

			<div class="item item-divider"> Informações Pessoais </div>

			<label ng-class="{ 'has-error' : formcadastro.info_nome.$invalid && formcadastro.info_nome.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Nome/Razão social</span>
				<input type="text" name="info_nome" ng-model="vm.formcadastro.info.nome" placeholder="Nome/Razão social" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_cpf.$invalid && formcadastro.info_cpf.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">CPF/CNPJ</span>
				<input type="text" name="info_cpf" ng-model="vm.formcadastro.info.cpf" placeholder="CPF/CNPJ" required ui-br-cpfcnpj-mask>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_endereco.$invalid && formcadastro.info_endereco.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Endereço</span>
				<input type="text" name="info_endereco" ng-model="vm.formcadastro.info.endereco" placeholder="Endereço" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_numero.$invalid && formcadastro.info_numero.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Número</span>
				<input type="text" name="info_numero" ng-model="vm.formcadastro.info.numero" placeholder="Número" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_complemento.$invalid && formcadastro.info_complemento.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Complemento</span>
				<input type="text" name="info_complemento" ng-model="vm.formcadastro.info.complemento" placeholder="Complemento">
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_bairro.$invalid && formcadastro.info_bairro.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Bairro</span>
				<input type="text" name="info_bairro" ng-model="vm.formcadastro.info.bairro" placeholder="Bairro" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_cep.$invalid && formcadastro.info_cep.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">CEP</span>
				<input type="text" name="info_cep" ng-model="vm.formcadastro.info.cep" placeholder="CEP" required ui-br-cep-mask>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_cidade.$invalid && formcadastro.info_cidade.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Cidade</span>
				<input type="text" name="info_cidade" ng-model="vm.formcadastro.info.cidade" placeholder="Cidade" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_estado.$invalid && formcadastro.info_estado.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Estado</span>
				<input type="text" name="info_estado" ng-model="vm.formcadastro.info.estado" placeholder="Estado" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_email1.$invalid && formcadastro.info_email1.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Email 1</span>
				<input type="email" name="info_email1" ng-model="vm.formcadastro.info.email1" placeholder="Email 1" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_email2.$invalid && formcadastro.info_email2.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Email 2</span>
				<input type="email" name="info_email2" ng-model="vm.formcadastro.info.email2" placeholder="Email 2">
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_telresidencial.$invalid && formcadastro.info_telresidencial.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Telefone residencial</span>
				<input type="text" name="info_telresidencial" ng-model="vm.formcadastro.info.telresidencial" placeholder="Telefone residencial" required ui-br-phone-number>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_telcomercial.$invalid && formcadastro.info_telcomercial.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Telefone comercial</span>
				<input type="text" name="info_telcomercial" ng-model="vm.formcadastro.info.telcomercial" placeholder="Telefone comercial" ui-br-phone-number>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_celular.$invalid && formcadastro.info_celular.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Celular</span>
				<input type="text" name="info_celular" ng-model="vm.formcadastro.info.celular" placeholder="Celular" ui-br-phone-number>
			</label>

			<div class="item item-divider"> Informações da Propriedade </div>

			<label ng-class="{ 'has-error' : formcadastro.propriedade_nome.$invalid && formcadastro.propriedade_nome.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Nome</span>
				<input type="text" name="propriedade_nome" ng-model="vm.formcadastro.propriedade.nome" placeholder="Nome">
			</label>
			<label ng-class="{ 'has-error' : formcadastro.propriedade_telefone.$invalid && formcadastro.propriedade_telefone.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Telefone</span>
				<input type="text" name="propriedade_telefone" ng-model="vm.formcadastro.propriedade.telefone" placeholder="Telefone" ui-br-phone-number>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.propriedade_contato.$invalid && formcadastro.propriedade_contato.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Contato</span>
				<input type="text" name="propriedade_contato" ng-model="vm.formcadastro.propriedade.contato" placeholder="Contato">
			</label>
			<label ng-class="{ 'has-error' : formcadastro.propriedade_ie.$invalid && formcadastro.propriedade_ie.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">I.E.</span>
				<input type="text" name="propriedade_ie" ng-model="vm.formcadastro.propriedade.ie" placeholder="I.E.">
			</label>
			<label ng-class="{ 'has-error' : formcadastro.propriedade_gta.$invalid && formcadastro.propriedade_gta.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Código da emp. (emissão de GTA)</span>
				<input type="text" name="propriedade_gta" ng-model="vm.formcadastro.propriedade.gta" placeholder="Código da emp.  (emissão de GTA)">
			</label>
			<label ng-class="{ 'has-error' : formcadastro.propriedade_endereco.$invalid && formcadastro.propriedade_endereco.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Endereço</span>
				<input type="text" name="propriedade_endereco" ng-model="vm.formcadastro.propriedade.endereco" placeholder="Endereço">
			</label>
			<label ng-class="{ 'has-error' : formcadastro.propriedade_numero.$invalid && formcadastro.propriedade_numero.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Número</span>
				<input type="text" name="propriedade_numero" ng-model="vm.formcadastro.propriedade.numero" placeholder="Número">
			</label>
			<label ng-class="{ 'has-error' : formcadastro.propriedade_complemento.$invalid && formcadastro.propriedade_complemento.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Complemento</span>
				<input type="text" name="propriedade_complemento" ng-model="vm.formcadastro.propriedade.complemento" placeholder="Complemento">
			</label>
			<label ng-class="{ 'has-error' : formcadastro.propriedade_bairro.$invalid && formcadastro.propriedade_bairro.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Bairro</span>
				<input type="text" name="propriedade_bairro" ng-model="vm.formcadastro.propriedade.bairro" placeholder="Bairro">
			</label>
			<label ng-class="{ 'has-error' : formcadastro.propriedade_cep.$invalid && formcadastro.propriedade_cep.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">CEP</span>
				<input type="text" name="propriedade_cep" ng-model="vm.formcadastro.propriedade.cep" placeholder="CEP" ui-br-cep-mask>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.propriedade_cidade.$invalid && formcadastro.propriedade_cidade.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Cidade</span>
				<input type="text" name="propriedade_cidade" ng-model="vm.formcadastro.propriedade.cidade" placeholder="Cidade">
			</label>
			<label ng-class="{ 'has-error' : formcadastro.propriedade_estado.$invalid && formcadastro.propriedade_estado.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Estado</span>
				<input type="text" name="propriedade_estado" ng-model="vm.formcadastro.propriedade.estado" placeholder="Estado">
			</label>

			<div class="item item-divider"> Referências Comerciais </div>

			<label ng-class="{ 'has-error' : formcadastro.prefcomercial_nome.$invalid && formcadastro.prefcomercial_nome.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Nome</span>
				<input type="text" name="prefcomercial_nome" ng-model="vm.formcadastro.prefcomercial.nome" placeholder="Nome" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.prefcomercial_telefone.$invalid && formcadastro.prefcomercial_telefone.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Telefone</span>
				<input type="text" name="prefcomercial_telefone" ng-model="vm.formcadastro.prefcomercial.telefone" placeholder="Telefone" required ui-br-phone-number>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.prefcomercial_email.$invalid && formcadastro.prefcomercial_email.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Email</span>
				<input type="email" name="prefcomercial_email" ng-model="vm.formcadastro.prefcomercial.email" placeholder="Email" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.prefcomercial_comentario.$invalid && formcadastro.prefcomercial_comentario.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Comentários</span>
				<textarea placeholder="Comentários" name="prefcomercial_comentario" ng-model="vm.formcadastro.prefcomercial.comentario"></textarea>
			</label>

			<div class="padding">
				<button class="button button-block button-stable" ng-disabled="formcadastro.$invalid"> Enviar </button>
			</div>
		</form>
	</ion-content>
</ion-view>
