<ion-view>
	<ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<div class="bar bar-subheader bar-green">
		<h2 class="title">Fale com a <strong>Criar</strong></h2>
	</div>
	<ion-content class="has-subheader">
		<div class="phone"> (31) 3262-3777 </div>
		<form class="list" name="formcontact" novalidate ng-submit="vm.sendEmail()">
			<label class="item item-input item-floating-label">
				<span class="input-label">Nome</span>
				<input type="text" ng-model="vm.formcontato.nome" placeholder="Nome" required>
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">E-mail</span>
				<input type="email" ng-model="vm.formcontato.email" placeholder="E-mail" required>
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">Assunto</span>
				<input type="text" ng-model="vm.formcontato.assunto" placeholder="Assunto" required>
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">Mensagem</span>
				<textarea placeholder="Mensagem" ng-model="vm.formcontato.mensagem" required></textarea>
			</label>
			<div class="padding">
				<button class="button button-block button-stable" ng-disabled="formcontact.$invalid"> Enviar </button>
			</div>
		</form>
	</ion-content>
</ion-view>
