<ion-view hide-nav-bar="true">
	<ion-content scroll="false">
		<div class="logo-home txt-center">
			<img src="images/logo.svg" alt="Logo Criar Leilões" style="margin-top: 25px;">
		</div>
		<ion-slide-box show-pager="true" does-continue="true" auto-play="true">
			<ion-slide ng-repeat="image in vm.aImages" style="background: url({{image.src}}); background-size: cover;">
				<p class="slide-text line1">Criando <strong>valor</strong></p>
				<p class="slide-text line2">ao seu plantel</p>
			</ion-slide>
		</ion-slide-box>

		<div class="fix-bottom">
			<div class="row">
				<div class="col">
					<a href="#/app/sobre" class="txt-decoration-none">
						<div class="btn-block-green btn1">
							<p><img src="images/icon1.svg" alt="" height="38"></p>
							<p>Sobre a Criar</p>
						</div>
					</a>
				</div>
				<div class="col">
					<a href="" ng-click="vm.openLive()" class="txt-decoration-none">
						<div class="btn-block-green btn2">
							<p><img src="images/icon2.svg" alt="" height="38"></p>
							<p>Leilão ao vivo</p>
						</div>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="#/app/agenda" class="txt-decoration-none">
						<div class="btn-block-green btn3">
							<p><img src="images/icon3.svg" alt="" height="38"></p>
							<p>Agenda de Leilões</p>
						</div>
					</a>
				</div>
				<div class="col">
					<a href="#/app/contato" class="txt-decoration-none">
						<div class="btn-block-green btn4">
							<p><img src="images/icon4.svg" alt="" height="38"></p>
							<p>Fale com a Criar</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</ion-content>

</ion-view>
