<ion-side-menus>
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-green" animation="slide-left-right">
            <ion-nav-back-button class="button-clear"><i class="icon ion-arrow-left-c"></i></ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="right">
        <header class="bar bar-header bar-transparent"></header>
        <div class="bar bar-subheader bar-transparent"></div>
        <ion-content class="has-subheader" scroll="false">
            <ion-list>
                <ion-item menu-close href="#/app/sobre">
                    <img src="images/icon1.svg" alt="" width="30">
                    <p>Sobre a <strong>Criar</strong> </p>
                </ion-item>
                <ion-item menu-close href="" ng-click="vm.openLive()">
                    <img src="images/icon2.svg" alt="" width="30">
                    <p>Leilão <strong>ao vivo</strong> </p>
                </ion-item>
                <ion-item menu-close href="#/app/agenda">
                    <img src="images/icon3.svg" alt="" width="30">
                    <p>Agenda de <strong>leilões</strong> </p>
                </ion-item>
                <ion-item menu-close href="#/app/contato">
                    <img src="images/icon4.svg" alt="" width="30">
                    <p>Fale com a <strong>Criar</strong> </p>
                </ion-item>
                <ion-item menu-close href="#/app/cadastro">
                    <img src="images/icon5.svg" alt="" width="30">
                    <p>Cadastre-se na <strong>Criar</strong> </p>
                </ion-item>
            </ion-list>
            <div class="txt-center">
                <img src="images/icon1.svg" alt="" height="150" class="logo-menu">
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
