<ion-view>
	<ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<div class="bar bar-subheader bar-green">
		<h2 class="title">Sobre a <strong>Criar</strong></h2>
	</div>
	<ion-content class="has-subheader padding">
		<div ng-bind-html="vm.sobre"></div>
	</ion-content>
</ion-view>